---
tags: service
layout: service.njk
cssPath: '/assets/styles/pibss.css'
jsPath: 
  - '/pibss/pibss-common.js'
  - '/pibss/pibss-login.js'
---
<section class="content">
  <section class="notice">
    <h2 class="heading">Authentication is required to access the contents of this page.</h2>
    <p class="notice-text">This page's contents are only accessible to staff from the Ministry of Immigration and the Ministry of Technology. If you are a staff member working in these ministries, please provide your login details. Otherwise, access is not allowed.</p>
  </section>
  <section class="login-form">
    <div class="login-item">
      <label for="email" class="email-label">Email address:</label>
      <input type="email" id="email" placeholder="abc@mail.my">
    </div>
    <div class="login-item">
      <label for="pw" class="pw-label">Password:</label>
      <input type="password" id="pw">
    </div>
    <button type="button" class="button">Log in</button>
  </section>
</section>
<div class="end-buttons"><a class="return" href="/info/pibss/">Return to service page</a></div>