---
tags: service
layout: service.njk
cssPath: '/assets/styles/pibss-manage.css'
jsPath: 
  - '/pibss-common.js'
  - '/pibss-manage.js'
---

<section class="content">
  <section class="hero">
    <h1 class="hero-title">Manage PIBSS data</h1>
    <p class="hero-text">Register a new plushie into the PIBSS database or update an existing citizen's location here.</p>
  </section>
  <section class="options">
    <button type="button" class="register-button button">Register a new plushie</button>
    <button type="button" class="update-location-button button">Update an existing plushie's location</button>
  </section>
  <section class="disclaimer">
    <p class="disclaimer-text">NOTE: Currently, this dashboard supports adding new plushies and updating an existing plushie's location. For other operations such as changing a plushie's origin country or date joined, please visit the Supabase dashboard.</p>
  </section>
</section>
<div class="end-buttons"><a class="return" href="/info/pibss/">Return to service page</a>
</div>
