<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ "/assets/styles/info.css" | url }}>
    <link rel="icon" href="/assets/favicons/generic.svg"/>
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
    <title>Life in the Plushie Kingdom</title>
  </head>
  <body>
    <div class='header-scrollable-area'>
      <header class="header">
        <a class="logo-text" href="/">
          <h3 class="logo-text top">Plushie Kingdom</h3>
          <h3 class="logo-text bottom">Government</h3>
        </a>
        <pagefind-searchbox class="search-desktop" shortcut="none" hide-shortcut placeholder="Search pk-gov..." show-sub-results=true></pagefind-searchbox>
        <div class="search-mobile">
          <img class="search-icon" src="../assets/icons/search.svg" alt="search icon">
          <pagefind-modal class="mobile-modal">
            <pagefind-modal-header>
              <pagefind-input placeholder="Search pk-gov..."></pagefind-input>
            </pagefind-modal-header>
      
            <pagefind-modal-body>
              <pagefind-summary></pagefind-summary>
              <pagefind-results></pagefind-results>
            </pagefind-modal-body>
          </pagefind-modal>
        </div>
      </header>
      <section class="content" data-pagefind-body>
        <section class="hero">
          <h1 class="hero-title">Life in the Plushie Kingdom</h1>
          <p class="hero-text">Whether you're looking for information about entering the Kingdom, settling in as a citizen, or just curious about life under the Big Tent, there's something here for you.</p>
        </section>
        <section class="directory">
          <div class="directory-row">
            <div class="directory-item">
              <h2 class="directory title">Who we are</h2>
              <p class="directory text">Learn about the Kingdom's storied history, current location and inhabitants.</p>
              <a class="directory cta" href="/info/who-we-are/">View information</a>
            </div>
            <div class="directory-item">
              <h2 class="directory title">PIBSS</h2>
              <p class="directory text">View information stored in the Plushie Immigration and Biodata Storage Service here.</p>
              <a class="directory cta" href="/info/pibss/">View information</a>
            </div>
          </div>
          <div class="directory-row">
            <div class="directory-item">
              <h2 class="directory title">Travelling in and out</h2>
              <p class="directory text">Here's what you need to know before entering the Kingdom, or leaving on a trip.</p>
              <a class="directory cta" href="/info/travelling-in-and-out/">View information</a>
            </div>
            <div class="directory-item">
              <h2 class="directory title">Safety and Residency</h2>
              <p class="directory text">Know more about the Kingdom's safety measures and places to stay.</p>
              <a class="directory cta" href="/info/safety-and-residency/">View information</a>
            </div>
          </div>
          <div class="directory-row">
            <div class="directory-item">
              <h2 class="directory title">Food, Health and Wealth</h2>
              <p class="directory text">Get to know all the basic amenities and services offered in the Kingdom.</p>
              <a class="directory cta" href="/info/food-health-and-wealth/">View information</a>
            </div>
            <div class="directory-item">
              <h2 class="directory title">Plushie Kingdom weather</h2>
              <p class="directory text">Get the latest updates on weather information in the Kingdom and the surrounding George Town area here.</p>
              <a class="directory cta" href="/info/weather/">View information</a>
            </div>
          </div>
          <div class='directory-row'>
            <div class="directory-item">
              <h2 class="directory title">Business and Commerce</h2>
              <p class="directory text">Thinking about doing business here? Here's all you need to know in one place.</p>
              <a class="directory cta" href="/info/business-and-commerce/">View information</a>
            </div>
            <div class='directory-item'></div>
          </div>
        </section>
      </section>
      <div class='end-buttons'><a class="return" href="/">Return to homepage</a></div>
    </div>
    <footer class="footer">
      <section class="footer-ministries">
        <h3 class="footer-title">Ministries</h3>
        <div class="footer-divider"></div>
        <div class="footer-ministries links">
          <a class="footer link" href="/ministries/central/">Central Ministry</a>
          <a class="footer link" href="/ministries/food/">Ministry of Food</a>
          <a class="footer link" href="/ministries/foreign-affairs/">Ministry of Foreign Affairs</a>
          <a class="footer link" href="/ministries/health/">Ministry of Health</a>
          <a class="footer link" href="/ministries/finance/">Ministry of Finance</a>
          <a class="footer link" href="/ministries/immigration/">Ministry of Immigration</a>
          <a class="footer link" href="/ministries/technology/">Ministry of Technology</a>
          <a class="footer link" href="/ministries/defence/">Ministry of Defence</a>
        </div>
      </section>
      <section class="footer-resources">
        <h3 class="footer-title">Other resources</h3>
        <div class="footer-divider"></div>
        <div class="footer-resources links">
          <a class="footer link" href="/info/">Life in the Plushie Kingdom</a>
          <a class="footer link" href="/news/">Government news</a>    
          <a class="footer link" href="/info/pibss">PIBSS</a>
          <a class="footer link" href="/info/weather/">Plushie Kingdom weather</a>     
        </div>
      </section>
      <section class="footer-about">
        <h3 class="footer-title">About us</h3>
        <div class="footer-divider"></div>
        <div class="footer-resources links">
          <a class="footer link" href="/about/pk-gov/">About the pk-gov website</a>
          <a class="footer link" href="/info/who-we-are/#history-of-the-plushie-kingdom">History of the Plushie Kingdom</a>
          <a class="footer link" href="/about/gov-identity/">Government identity guidelines</a>          
        </div>
      </section>
    </footer>    
    <script src="/info.js"></script>
  </body>
</html>
