---
layout: base.njk
layoutCss:
  - "/assets/styles/content-page.css"
---
<main data-pagefind-body>
  <section class="hero">
    {% if date %}
      <p class="hero-date">{{ date | postDate }}, by {{ author }}</p>
    {% endif %}
    <h1 class="hero-title">{{ title }}</h1>
    <p class="hero-excerpt">{{ excerpt | safe }}</p>
    {% if thumbnail and thumbnail | trim %}
      <img class="hero-thumbnail" src="{{ thumbnail }}" alt="{{ thumbnail-alt }}">
    {% endif %}
  </section>
  <section data-pagefind-ignore='all' class='table-of-contents-container'>
    <h2 class='table-of-contents-title'>In this page:</h2>
    <hr>
    <div class='table-of-contents'></div>
  </section>
  <section class="page">
    {{ content | safe }}
  </section>
</main>
<div class="end-buttons">
  {% if tags != 'about' %}
    <button type="button" class="share">Share page</button>
  {% endif %}
  <button type="button" class="print">Print page</button>
  {% if tags == 'news' %}
    <a class="return" href="/news/">Return to news list</a>
  {% elif tags == 'info' or tags == 'about' %}
    <a class="return" href="/">Return to homepage</a>
  {% endif %}
</div>