---
layout: base.njk
layoutCss: 
  - /assets/styles/ministries.css
layoutJs: 
  - /ministries/ministries.js
---
<main data-pagefind-body data-lottie="{{ page.fileSlug }}">
  {{ content | safe }}
</main>
<div class='end-buttons'><a class="return" href="/">Return to homepage</a></div>