<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/news-article.css">
    <title>{{ title }}</title>
  </head>
  <body>
   <header class="header">
      <a class="logo-text" href="/">
        <h3 class="logo-text top">Plushie Kingdom</h3>
        <h3 class="logo-text bottom">Government</h3>
      </a>
    </header>
    <section class="content">
      <section class="hero">
        <p class="hero-date">{{ date | postDate }}, by {{ author }}</p>
        <h1 class="hero-title">{{ title }}</h1>
        <h3 class="hero-excerpt">{{ excerpt }}</p>
        {% if thumbnail %}
          <img class="hero-thumbnail" src="{{ thumbnail }}", alt="{{ thumbnail-alt }}">
        {% endif %}
      </section>
      <section class="article">
        {{ content | safe }}
      </section>
    </section>
    <a class="return" href="/news/">Return to news list</a>
    <footer class="footer">
      <section class="footer-ministries">
        <h3 class="footer-title">Ministries</h3>
        <div class="footer-divider"></div>
        <div class="footer-ministries links">
          <a class="footer link" href="/ministries/central/">Central Ministry</a>
          <a class="footer link" href="/ministries/food/">Ministry of Food</a>
          <a class="footer link" href="/ministries/foreign-affairs/">Ministry of Foreign Affairs</a>
          <a class="footer link" href="/ministries/health/">Ministry of Health</a>
          <a class="footer link" href="/ministries/finance/">Ministry of Finance</a>
          <a class="footer link" href="/ministries/immigration/">Ministry of Immigration</a>
          <a class="footer link" href="/ministries/technology/">Ministry of Technology</a>
          <a class="footer link" href="/ministries/defence/">Ministry of Defence</a>
        </div>
      </section>
      <section class="footer-resources">
        <h3 class="footer-title">Other resources</h3>
        <div class="footer-divider"></div>
        <div class="footer-resources links">
          <a class="footer link" href="/info/">Life in the Plushie Kingdom</a>
          <a class="footer link" href="/news/">Government news</a>          
        </div>
      </section>
      <section class="footer-about">
        <h3 class="footer-title">About us</h3>
        <div class="footer-divider"></div>
        <div class="footer-resources links">
          <a class="footer link" href="/about/pk-gov/">About pk-gov</a>
          <a class="footer link" href="/about/plushie-kingdom/">History of the Plushie Kingdom</a>
          <a class="footer link" href="/about/gov-identity/">Government identity guidelines</a>          
        </div>
      </section>
    </footer>
    <script src="/news-article.js">
  </body>
</html>