---
tags: service
layout: service.njk
cssPath: '/assets/styles/weather.css'
jsPath: '/weather.js'
---
<section class="content" data-pagefind-body>
  <section class="hero">
    <h1 class="hero-title">Plushie Kingdom weather</h1>
    <p class="hero-text">
      Get the latest updates on weather information in the Kingdom and the surrounding George Town area here. Powered by <a class="link" href="https://open-meteo.com/" target="_blank" rel="noreferrer">Open-Meteo</a>.
    </p>
  </section>
  <section class="current-weather">
    <h2 class="current-weather heading">Current weather</h2>
    <div class="section-divider"></div>
    <div class="current-weather content">
      <img class="current-weather loader" src="/assets/icons/loading.svg" alt='' eleventy:ignore>
    </div>
  </section>
  <section class="forecast-today">
    <h2 class="forecast-today heading">24-hour Forecast</h2>
    <div class="section-divider"></div>
    <div class="forecast-today content">
      <img class="forecast-today loader" src="/assets/icons/loading.svg" alt='' eleventy:ignore>
    </div>
  </section>
  <section class="forecast-week">
    <h2 class="forecast-week heading">7-day Forecast</h2>
    <div class="section-divider"></div>
    <div class="forecast-week content">
      <img class="forecast-week loader" src="/assets/icons/loading.svg" alt='' eleventy:ignore>
    </div>
  </section>
</section>
<div class="end-buttons">
  <a class="return" href="/">Return to homepage</a>
</div>