---
tags: about
layout: about-page.njk
title: About the pk-gov website
excerpt: This is the place to learn all about the official Government website. (In case you're wondering, it's the one you're on right now!)
---
<section class="objectives">
  <h2 class="heading">This website aims to:</h2>
  <div class="section-divider"></div>
  <h3 class="title">Showcase our Kingdom</h3>
  <p class="text">
    This website acts as the hub for all information related to the Plushie Kingdom, including
    how to get started living here, what life here is like, and where to get any needed help.
  </p>
  <h3 class="title">Strengthen the Government's identity</h3>
  <p class="text">
    pk-gov is more than just a website, it's the core of our
    <a class="link" href="/about/gov-identity/">identity</a>: Bold and modern, yet warm and
    welcoming. We ensure plushies are confident that the information or services they're
    viewing is of high quality and relevant to them whenever they see the familiar colours,
    iconography and font, no matter where it may be.
  </p>
  <h3 class="title">Provide Government information and services</h3>
  <p class="text">
    In our efforts to create a digital-first Government, all Government information and
    services will be made available here, ensuring plushies can access them anywhere, anytime.
  </p>
  <h3 class="title">Keep citizens informed</h3>
  <p class="text">
    The <a class="link" href="/news/">Government news page</a> will be home to news updates on
    various topics relevant to the Plushie Kingdom, such as new services, travel alerts or
    other important information. Video versions may also be available for major announcements
    on our
    <a
      class="link"
      href="https://www.youtube.com/channel/UCL4Px1LLyD6WxcaDTm71ViQ"
      target="_blank"
      rel="noreferrer"
      >YouTube channel</a
    >.
  </p>
</section>
<section class="origin">
  <h2 class="heading">Timeline of pk-gov</h2>
  <div class="section-divider"></div>
  <h3 class="title">Early beginnings - May 2026</h3>
  <p class="text">
    After the formation of the Plushie Kingdom Government, Prime Minister Pink Bear Bear and
    Technology Minister Android envisioned a digital-first future, where plushies could freely
    access Government information and services through a centralised website. On 2 May 2026,
    the
    <a class="link" href="https://github.com/J0e-Quan/pk-gov" target="_blank" rel="noreferrer"
      >pk-gov repository</a
    >
    was created to make this future possible. The creation of the
    <a
      class="link"
      href="https://www.youtube.com/channel/UCL4Px1LLyD6WxcaDTm71ViQ"
      target="_blank"
      rel="noreferrer"
      >Plushie Kingdom Government YouTube channel</a
    >
    soon followed, to provide a platform for video announcements.
  </p>
  <h3 class="title">Implementation of Government news - May 2026</h3>
  <p class="text">
    On 8 May 2026, Government news was integrated into the pk-gov website, allowing for rapid
    delivery of information from the Government to Plushie Kingdom citizens. The first use of
    this would be an
    <a class="link" href="/news/introducing-the-plushie-kingdom-government"
      >introduction to the Plushie Kingdom Government</a
    >, delivered by the Prime Minister.
  </p>
  <h3 class="title">Introduction of responsive design - May 2026</h3>
  <p class="text">
    The pk-gov website implemented responsive design on 13 May 2026, ensuring that the website
    remained intuitive and easy to use on mobile devices.
  </p>
  <h3 class="title">Opening up Government assets - May 2026</h3>
  <p class="text">The Government made several Government assets publicly available for download on 23 May 2026, allowing for greater transparency and open access to information.</p>
  <h3 class="title">Implementation of weather updates and search - June 2026</h3>
  <p class="text">On 2 June 2026, a weather page was added to provide more helpful information to Plushie Kingdom residents. Search functionality was also added to enable users to find the information they need faster.</p>
  <h3 class="title">Improvements to viewing and sharing content - June 2026</h3>
  <p class="text">On 17 June 2026, a table of contents was added to the start of content pages to make finding information easier and faster. A share button was also added for content pages to enable users to quickly share relevant information with others.</p>
  <h3 class="title">Launch of PIBSS - August 2026</h3>
  <p class="text">On (INSERT DATE HERE), the Plushie Immigration and Biodata Storage Service was introduced to pk-gov. This service provides open access to information and statistics on all Plushie Kingdom residents, and was pk-gov's largest update ever, containing nearly 150 commits!</p>
</section>
