---
tags: ministry
layout: ministry.njk
title: Ministry of Defence
---
<div class="ministry-of-defence logo-frame">
  <div class="ministry-of-defence logo-lottie">
    <!-- logo animation goes here -->
  </div>
</div>
<section class="hero">
  <h1 class="hero-title">We protect the Kingdom from all threats.</h1>
  <p class="hero-text">
    The Ministry of Defence is responsible for safeguarding the Kingdom from danger, ensuring
    all plushies are safe and sound.
  </p>
</section>
<section class="ministers">
  <h2 class="ministers heading">Minister</h2>
  <div class="section-divider"></div>
  <div class="ministers list">
    <div class="minister">
      <div class="minister picture" id="stitch"></div>
      <div class="minister info-box">
        <h4 class="minister name">Stitch</h4>
        <h5 class="minister job-title">Defence Minister</h5>
      </div>
    </div>
  </div>
</section>
<section class="tasks">
  <h2 class="tasks heading">What we do</h2>
  <div class="section-divider"></div>
  <h3 class="tasks title">Secure the Kingdom</h3>
  <p class="tasks text">
    We ensure no plushie ever feels threatened or unsafe in the Kingdom.
  </p>
  <h3 class="tasks title">Keep out trouble</h3>
  <p class="tasks text">
    Got harassed by someone, or saw something suspicious? We're always ready to make sure
    trouble stays out of the Kingdom if you need us.
  </p>
  <h3 class="tasks title">Develop a stronger Kingdom</h3>
  <p class="tasks text">
    Our Defence Officers develop the skills they need to be the most competent plushies they
    can be. Contact your nearest Defence Officer or Defence Minister to get involved.
  </p>
</section>