---
tags: ministry
layout: ministry.njk
title: Ministry of Finance
---
<div class="ministry-of-finance logo-frame">
  <div class="ministry-of-finance logo-lottie">
    <!-- logo animation goes here -->
  </div>
</div>
<section class="hero">
  <h1 class="hero-title">We make sure the Kingdom is in the green.</h1>
  <p class="hero-text">
    The Ministry of Finance manages the Kingdom's budget for Government operations and
    delivers critical financial aid to plushies in need.
  </p>
</section>
<section class="ministers">
  <h2 class="ministers heading">Minister</h2>
  <div class="section-divider"></div>
  <div class="ministers list">
    <div class="minister">
      <div class="minister picture" id="cimb-octo"></div>
      <div class="minister info-box">
        <h4 class="minister name">CIMB Octo</h4>
        <h5 class="minister job-title">Finance Minister</h5>
      </div>
    </div>
  </div>
</section>
<section class="tasks">
  <h2 class="tasks heading">What we do</h2>
  <div class="section-divider"></div>
  <h3 class="tasks title">Manage the budget</h3>
  <p class="tasks text">
    We allocate spending across all Government ministries to ensure services are effective yet
    efficient.
  </p>
  <h3 class="tasks title">Deliver financial aid</h3>
  <p class="tasks text">
    We ensure less fortunate plushies remain economically secure with financial aid that
    enables them to live life to the fullest.
  </p>
  <h3 class="tasks title">Support local businesses</h3>
  <p class="tasks text">
    Thinking about starting a business? We provide
    <a
      class="link"
      href="/info/business-and-commerce#starting-a-business-in-the-plushie-kingdom"
      >early funding for eligible local businesses</a
    >
    to achieve their full potential.
  </p>
</section>