
---
tags: ministry
layout: ministry.njk
---
<!doctype html>
<html class="food" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/favicons/ministry-of-food.svg" />

    <title>Ministry of Food</title>
  </head>
  <body>
    <section class="content">
      <div class="ministry-of-food logo-frame">
        <div class="ministry-of-food logo-lottie">
          <!-- logo animation goes here -->
        </div>
      </div>
      <section class="hero">
        <h1 class="hero-title">We ensure no plushie ever goes hungry.</h1>
        <p class="hero-text">
          The Ministry of Food manages food quality and safety in the Kingdom. We also provide meal
          recommendations on request!
        </p>
      </section>
      <section class="ministers">
        <h2 class="ministers heading">Minister</h2>
        <div class="section-divider"></div>
        <div class="ministers list">
          <div class="minister">
            <div class="minister picture" id="capybara"></div>
            <div class="minister info-box">
              <h4 class="minister name">Capybara</h4>
              <h5 class="minister job-title">Food Minister</h5>
            </div>
          </div>
        </div>
      </section>
      <section class="tasks">
        <h2 class="tasks heading">What we do</h2>
        <div class="section-divider"></div>
        <h3 class="tasks title">Ensure food quality and safety</h3>
        <p class="tasks text">
          We make sure that food sellers across the Kingdom provide the highest quality and most
          hygienic food to our plushies.
        </p>
        <h3 class="tasks title">Curate the Kingdom's selection of food</h3>
        <p class="tasks text">
          New food items are occasionally added as we continue to search for the finest delicacies!
        </p>
        <h3 class="tasks title">Provide food recommendations</h3>
        <p class="tasks text">
          Want to experience the best food that the Kingdom has to offer? Contact your Food Minister
          to learn more! <br /><span class="small-text"
            >p.s. you can view my favourite picks
            <a class="link" href="/news/capybara-food-recommendations">here!</a></span
          >
        </p>
      </section>
    </section>
    <a class="return" href="/">Return to homepage</a>
  </body>
</html>
