---
tags: ministry
layout: ministry.njk
title: Ministry of Health
---
<div class="ministry-of-health logo-frame">
  <div class="ministry-of-health logo-lottie">
    <!-- logo animation goes here -->
  </div>
</div>
<section class="hero">
  <h1 class="hero-title">We keep the Kingdom in good shape.</h1>
  <p class="hero-text">
    The Ministry of Health provides quality care from sickness to recovery and beyond, as well
    as vital mental health support services.
  </p>
</section>
<section class="ministers">
  <h2 class="ministers heading">Ministers</h2>
  <div class="section-divider"></div>
  <div class="ministers list">
    <div class="minister">
      <div class="minister picture" id="som-ting-wong"></div>
      <div class="minister info-box">
        <h4 class="minister name">Som Ting Wong</h4>
        <h5 class="minister job-title">Health Minister</h5>
      </div>
    </div>
    <div class="minister">
      <div class="minister picture" id="ho-lee-fook"></div>
      <div class="minister info-box">
        <h4 class="minister name">Ho Lee Fook</h4>
        <h5 class="minister job-title">Deputy Health Minister</h5>
      </div>
    </div>
  </div>
</section>
<section class="tasks">
  <h2 class="tasks heading">What we do</h2>
  <div class="section-divider"></div>
  <h3 class="tasks title">Provide quality healthcare</h3>
  <p class="tasks text">
    We treat plushies of any condition, giving them all the aid they need to return to a
    healthy life.
  </p>
  <h3 class="tasks title">Support your mental health</h3>
  <p class="tasks text">
    With qualified experience in psychological assistance, you don't have to go through it
    alone. We're here to help you recover from deep cuts, both the physical and the mental
    kind.
  </p>
  <h3 class="tasks title">Supply important medication</h3>
  <p class="tasks text">
    Stay healthy with regular medicine deliveries and vaccine injections. Contact your nearest
    Health Officer or Health Minister to learn more.
  </p>
</section>