---
tags: ministry
layout: ministry.njk
title: Ministry of Technology
---
<div class="ministry-of-technology logo-frame">
  <div class="ministry-of-technology logo-lottie">
    <!-- logo animation goes here -->
  </div>
</div>
<section class="hero">
  <h1 class="hero-title">We take the Kingdom's next step forward.</h1>
  <p class="hero-text">
    The Ministry of Technology modernises life in the Kingdom, supercharging Government
    services for a better digital-first experience.
  </p>
</section>
<section class="ministers">
  <h2 class="ministers heading">Ministers</h2>
  <div class="section-divider"></div>
  <div class="ministers list">
    <div class="minister">
      <div class="minister picture" id="android"></div>
      <div class="minister info-box">
        <h4 class="minister name">Android</h4>
        <h5 class="minister job-title">Technology Minister</h5>
      </div>
    </div>
    <div class="minister">
      <div class="minister picture" id="kodee"></div>
      <div class="minister info-box">
        <h4 class="minister name">Kodee</h4>
        <h5 class="minister job-title">Deputy Technology Minister</h5>
      </div>
    </div>
  </div>
</section>
<section class="tasks">
  <h2 class="tasks heading">What we do</h2>
  <div class="section-divider"></div>
  <h3 class="tasks title">Digitise Government services</h3>
  <p class="tasks text">
    We work to create a digital-first Government that can provide services at a large scale to
    all plushies, wherever and whenever they happen to be.
  </p>
  <h3 class="tasks title">Refine the Government's identity</h3>
  <p class="tasks text">
    We work closely with the Central Ministry to create the Government's bold and modern, yet
    warm and welcoming <a class="link" href="/about/gov-identity/">identity</a> to ensure that
    Government information and services remain consistent across the Kingdom.
  </p>
  <h3 class="tasks title">Enhance life in the Kingdom</h3>
  <p class="tasks text">
    We make life in the Kingdom better with new technologies that improve healthcare,
    immigration and media announcement facilities to take the next step forward.
  </p>
</section>
<a class="return" href="/">Return to homepage</a>
