<!doctype html>
<html lang="en">
  <head>
    <link
      rel="preload"
      href="./assets/fonts/IBMPlexSans_Var-Roman.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="./assets/fonts/IBMPlexSans_Var-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="./assets/fonts/MonaSansVF[wdth,wght,opsz,ital].woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./assets/favicons/generic.svg" />
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet" vite-ignore>
    <script src="/pagefind/pagefind-component-ui.js" type="module" data-vite-no-bundle></script>
    <title>Plushie Kingdom Government</title>
  </head>
  <body>
    <div class="header-scrollable-area">
      <header class="header">
        <a class="logo-text" href="/">
          <h3 class="logo-text top">Plushie Kingdom</h3>
          <h3 class="logo-text bottom">Government</h3>
        </a>
        <pagefind-searchbox class="search-desktop" shortcut="none" hide-shortcut placeholder="Search pk-gov..." show-sub-results=true></pagefind-searchbox>
        <div class="search-mobile">
          <img class="search-icon" src="./assets/icons/search.svg" alt="search icon">
          <pagefind-modal class="mobile-modal" >
            <pagefind-modal-header>
              <pagefind-input placeholder="Search pk-gov..."></pagefind-input>
            </pagefind-modal-header>
      
            <pagefind-modal-body>
              <pagefind-summary></pagefind-summary>
              <pagefind-results></pagefind-results>
            </pagefind-modal-body>
          </pagefind-modal>
        </div>
      </header>
      <main data-pagefind-body>
        <section class="hero">
          <h1 class="hero-title">Welcome to the<br>Plushie Kingdom<br>Government website</h1>
          <p class="hero-text">
            This is the official home of the Plushie Kingdom Government. Get access to intuitive, informative and effective Government information and services here.
          </p>
        </section>
        <section class='services'>
          <h2>Services</h2>
          <hr>
          <p class='card-description'>Get access to free Government services that supercharge your everyday, from providing weather information to keeping the data of all citizens safe and sound.</p>
          <div class='all-cards'>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/pibss/">PIBSS</a></h2>
                <p class="card-description">View information stored in the PIBSS database.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./news/">Government news</a></h2>
                <p class="card-description">Catch up on important info from the Government.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/weather/">Plushie Kingdom weather</a></h2>
                <p class="card-description">Get the latest weather updates here.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/timeline/">Timeline</a></h2>
                <p class="card-description">Check for upcoming Plushie Kingdom public holidays.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
          </div>
        </section>
        <section class='information'>
          <h2>Information</h2>
          <hr>
          <p class='card-description'>Whether you're looking for information about entering the Kingdom, settling in as a citizen, or just curious about life under the Big Tent, there's something here for you.</p>
          <div class="all-cards">
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/who-we-are/">Who we are</a></h2>
                <p class="card-description">Learn about the Kingdom's storied history, current location and inhabitants.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/travelling-in-and-out/">Travelling in and out</a></h2>
                <p class="card-description">Here's what you need to know before entering the Kingdom, or leaving on a trip.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/safety-and-residency/">Safety and Residency</a></h2>
                <p class="card-description">Know more about the Kingdom's safety measures and places to stay.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/food-health-and-wealth/">Food, Health and Wealth</a></h2>
                <p class="card-description">Get to know all the basic amenities and services offered in the Kingdom.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="card">
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./info/business-and-commerce/">Business and Commerce</a></h2>
                <p class="card-description">Thinking about doing business here? Here's all you need to know in one place.</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
          </div>
        </section>
        <section class='ministries'>
          <h2>Ministries</h2>
          <hr>
          <p class='card-description'>Learn more about each of the 8 ministries that form the Plushie Kingdom Government.</p>
          <div class='all-cards'>
            <div class="ministry central card ">
              <img class='ministry-icon' src='/assets/ministry-icons/central-ministry.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/central/">Plushie Kingdom</a></h2>
                <p class="card-description">Central Ministry</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry food card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-food.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/food/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Food</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry foreign-affairs card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-foreign-affairs.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/foreign-affairs/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Foreign Affairs</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry health card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-health.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/health/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Health</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry finance card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-finance.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/finance/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Finance</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry immigration card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-immigration.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/immigration/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Immigration</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry technology card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-technology.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/technology/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Technology</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
            <div class="ministry defence card">
              <img class='ministry-icon' src='/assets/ministry-icons/ministry-of-defence.svg' alt=''>
              <div class='card-text'>
                <h2 class="card-title"><a class='card-link' href="./ministries/defence/">Plushie Kingdom</a></h2>
                <p class="card-description">Ministry of Defence</p>
              </div>
              <div class='card-arrow'>></div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <section class="footer-ministries">
        <h3 class="footer-title">Ministries</h3>
        <hr>
        <div class="footer-ministries links">
          <a class="footer link" href="/ministries/central/">Central Ministry</a>
          <a class="footer link" href="/ministries/food/">Ministry of Food</a>
          <a class="footer link" href="/ministries/foreign-affairs/">Ministry of Foreign Affairs</a>
          <a class="footer link" href="/ministries/health/">Ministry of Health</a>
          <a class="footer link" href="/ministries/finance/">Ministry of Finance</a>
          <a class="footer link" href="/ministries/immigration/">Ministry of Immigration</a>
          <a class="footer link" href="/ministries/technology/">Ministry of Technology</a>
          <a class="footer link" href="/ministries/defence/">Ministry of Defence</a>
        </div>
      </section>
      <section class="footer-resources">
        <h3 class="footer-title">Other resources</h3>
        <hr>
        <div class="footer-resources links">
          <a class="footer link" href="/info/">Life in the Plushie Kingdom</a>
          <a class="footer link" href="/news/">Government news</a>
          <a class="footer link" href="/info/pibss/">PIBSS</a>
          <a class="footer link" href="/info/weather/">Plushie Kingdom weather</a>
        </div>
      </section>
      <section class="footer-about">
        <h3 class="footer-title">About us</h3>
        <hr>
        <div class="footer-resources links">
          <a class="footer link" href="/about/pk-gov/">About the pk-gov website</a>
          <a class="footer link" href="/info/who-we-are/#history-of-the-plushie-kingdom"
            >History of the Plushie Kingdom</a
          >
          <a class="footer link" href="/about/gov-identity/">Government identity guidelines</a>
        </div>
      </section>
    </footer>
    <script type='module' src="/global.js"></script>
    <script type='module'>
      import './assets/styles/home.css'
    </script>
  </body>
</html>
