section:not(.content, footer section) {
  padding: 2rem 5rem;
}

.page hr:nth-of-type(2) {
  animation-range-start: cover 0%;
  animation-range-end: cover 15%;
}

.page p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.page ul,
.page ol {
  font-size: 1.5rem;
  margin: -1rem 0 2rem 0;
  line-height: 1.5;
  padding: 0 2rem;
}

.page ul ul,
.page ol ol {
  margin: 0;
}

.page a {
  text-decoration: underline;
}

.page img {
  width: 100%;
  height: auto;
  margin: 0rem 0;
  animation: scale-out ease-out backwards;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 40%;
}

@keyframes scale-out {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.side-by-side p {
  flex-grow: 2;
  flex-basis: 600px;
}

.side-by-side img {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 0;
}

.hero-date {
  font-size: 2rem;
}

.hero-excerpt {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--mona-sans);
  scroll-margin-top: 10rem;
}

.hero-thumbnail {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}

.end-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.return, .share {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  section:not(.content, footer section) {
    padding: 1rem 2rem;
  }
  .hero-date {
    font-size: 1rem;
  }
  .hero-excerpt {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .page p,
  .page ul,
  .page ol {
    font-size: 1rem;
    line-height: 1.5;
  }
}
/* MEDIA QUERIES ABOVE */
