@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/IBMPlexSans_Var-Roman.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/IBMPlexSans_Var-Italic.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Mona Sans';
  src: url(../fonts/MonaSansVF[wdth\,wght\,opsz\,ital].woff2), format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 10deg;
  font-display: block;
}

:root {
  --plex-sans: 'IBM Plex Sans', sans-serif;
  --mona-sans: 'Mona Sans', serif;
  --central-ministry-colour: rgb(104, 160, 255);
  --ministry-of-food-colour: rgb(255, 220, 0);
  --ministry-of-foreign-affairs-colour: rgb(54, 83, 255);
  --ministry-of-health-colour: rgb(255, 0, 0);
  --ministry-of-finance-colour: rgb(0, 176, 0);
  --ministry-of-immigration-colour: rgb(195, 140, 0);
  --ministry-of-technology-colour: rgb(74, 255, 209);
  --ministry-of-defence-colour: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mona-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--plex-sans);
  font-weight: 700;
}

input,
button {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
}

.footer.link {
  text-decoration: underline;
}

.link:not(.footer.link) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.link:hover:not(.footer.link) {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4px;
}
