.hero-title {
  font-size: 5rem;
  line-height: 1.2;
}

.hero-text {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2.title::before {
  display: none;
}

.ministry.central.card:hover {
  box-shadow: inset 0 0 0 16px var(--central-ministry-colour);
}

.ministry.food.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-food-colour);
}

.ministry.foreign-affairs.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-foreign-affairs-colour);
}

.ministry.health.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-health-colour);
}

.ministry.finance.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-finance-colour);
}

.ministry.immigration.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-immigration-colour);
}

.ministry.technology.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-technology-colour);
}

.ministry.defence.card:hover {
  box-shadow: inset 0 0 0 16px var(--ministry-of-defence-colour);
}

section:not(footer section) {
  padding: 48px 64px;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  .hero {
    padding: 1rem 2rem;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .ministries {
    grid-template-columns: repeat(auto-fit, minmax(100px, 40vw));
    grid-auto-rows: 40vw;
  }
  .ministries a {
    height: 40vw;
    width: 40vw;
  }
  a svg {
    height: 35vw;
    width: 35vw;
  }
  section.other-resources {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
}
/* MEDIA QUERIES ABOVE */
