/* html {
  background-color: var(--central-ministry-colour);
} */

.header {
  background-color: var(--central-ministry-colour);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  position: sticky;
  top: 0;
  z-index: 99999;
}

/* section:not(.footer > section) {
  background-color: white;
} */

.logo-text {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo-text.bottom {
  margin-top: -0.2rem;
  font-weight: 400;
}

.hero {
  background-color: var(--central-ministry-colour);
  color: white;
  padding: 1rem 5rem;
}

.hero-title {
  font-size: 5rem;
  line-height: 1.2;
}

.hero-text {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.ministries {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: fit-content fit-content fit-content;
  place-content: center;
  padding: 0rem 5rem;
}

.ministries a {
  background-color: white;
  place-self: center;
  height: 20vw;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  transition: border 0.2s;
  will-change: border;
}

a svg {
  height: 15vw;
  width: 15vw;
}

.ministries a:hover.central-ministry {
  border: 16px solid var(--central-ministry-colour);
}

.ministries a:hover.ministry-of-food {
  border: 16px solid var(--ministry-of-food-colour);
}

.ministries a:hover.ministry-of-foreign-affairs {
  border: 16px solid var(--ministry-of-foreign-affairs-colour);
}

.ministries a:hover.ministry-of-health {
  border: 16px solid var(--ministry-of-health-colour);
}

.ministries a:hover.ministry-of-finance {
  border: 16px solid var(--ministry-of-finance-colour);
}

.ministries a:hover.ministry-of-immigration {
  border: 16px solid var(--ministry-of-immigration-colour);
}

.ministries a:hover.ministry-of-technology {
  border: 16px solid var(--ministry-of-technology-colour);
}

.ministries a:hover.ministry-of-defence {
  border: 16px solid var(--ministry-of-defence-colour);
}

.other-resources {
  padding: 0rem 5rem 4rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-resources div {
  flex-grow: 1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-resources .title {
  font-size: 3rem;
}

.other-resources .text {
  font-size: 1.5rem;
}

.other-resources .cta {
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: var(--mona-sans);
  color: black;
  box-shadow: inset 0 0 0 0px var(--central-ministry-colour);
  border: 16px solid var(--central-ministry-colour);
  transition:
    box-shadow 0.4s ease-in-out,
    color 0.4s ease-in-out;
  will-change: box-shadow, color;
}

.other-resources .cta:hover {
  box-shadow: inset 0 0 0 400px var(--central-ministry-colour);
  color: white;
}

.logo-frame {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.logo-lottie {
  transform: translateY(-25%);
}

.header-scrollable-area {
  padding-bottom: 1px;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  .hero {
    padding: 1rem 2rem;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .ministries {
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: 40vw;
  }
  .ministries a {
    height: 40vw;
    width: 40vw;
  }
  a svg {
    height: 35vw;
    width: 35vw;
  }
  .other-resources {
    padding: 1rem;
  }
  .other-resources .title {
    font-size: 2rem;
  }
  .other-resources .text {
    font-size: 1rem;
  }
  .other-resources .cta {
    font-size: 1.5rem;
  }
}
/* MEDIA QUERIES ABOVE */
