.hero {
  background-color: var(--central-ministry-colour);
  color: white;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  scroll-margin-top: 10rem;
}

.hero-text {
  font-size: 2rem;
  scroll-margin-top: 10rem;
}

section:not(.content, footer section) {
  padding: 2rem 5rem;
}

.info h2 {
  font-size: 4rem;
  position: relative;
  overflow: clip;
  display: inline-block;
  scroll-margin-top: 10rem;
}

.info h2::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: wipe-up ease-out both;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 50%;
}

.info h2:nth-of-type(2)::before {
  animation-range-start: cover 0%;
  animation-range-end: cover 35%;
}

@keyframes wipe-up {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

.section-divider,
.info hr {
  width: 100%;
  height: 10px;
  background-color: var(--central-ministry-colour);
  margin-bottom: 2rem;
  transform-origin: left;
  transform: scaleX(0);
  animation: wipe-right ease-in both;
  animation-timeline: view();
  animation-range-start: cover 5%;
  animation-range-end: cover 35%;
}

.info hr:nth-of-type(2) {
  animation-range-start: cover 0%;
  animation-range-end: cover 15%;
}

@keyframes wipe-right {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.info h3 {
  font-size: 2.5rem;
  scroll-margin-top: 10rem;
}

.info p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.info ul,
.info ol {
  font-size: 1.5rem;
  margin: -1rem 0 2rem 0;
  line-height: 1.5;
  padding: 0 2rem;
}

.info ul ul,
.info ol ol {
  margin: 0;
}

.info a {
  text-decoration: underline;
}

.info img {
  width: 100%;
  height: auto;
  margin: 0rem 0;
  animation: scale-out ease-out backwards;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 40%;
}

@keyframes scale-out {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.side-by-side p {
  flex-grow: 2;
  flex-basis: 600px;
}

.side-by-side img {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 0;
}

.hero-date {
  font-size: 2rem;
}

.hero-title {
  font-size: 4rem;
}

.hero-excerpt {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--mona-sans);
}

.hero-thumbnail {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}

.header-scrollable-area {
  padding-bottom: 1px;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  section:not(.content, footer section) {
    padding: 1rem 2rem;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-excerpt {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .info h2 {
    font-size: 2rem;
  }
  .section-divider,
  .info hr {
    margin-bottom: 1rem;
    animation-range-start: cover 0%;
    animation-range-end: cover 15%;
  }
  .info h3 {
    font-size: 1.5rem;
  }
  .info p,
  .info ul,
  .info ol {
    font-size: 1rem;
    line-height: 1.5;
  }
  .return {
    font-size: 1.5rem;
  }
}
/* MEDIA QUERIES ABOVE */
