section:not(.hero, .content, footer section) {
  padding: 2rem 5rem;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.notifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.notifications-title {
  font-size: 2rem;
  flex: 3 1 500px;
  text-wrap: pretty;
}

.notifications-title::before {
  display: none;
}

.notifications-button {
  flex: 1 1 fit-content;
}

.notifications-modal {
  background-color: white;
  margin: auto;
  padding: 1rem 2rem;
}

.notifications-modal-title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.notification-modal-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

.notification-modal-option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
}

.notification-modal-option-title {
  font-size: 2.5rem;
}

.notification-modal-option-text {
  font-size: 1.5rem;
}

button.push, button.rss {
  margin-top: auto;
}

button.close {
  margin-top: 2rem;
  margin-inline: auto;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.article {
  color: black;
  text-decoration: none;
}

.article:visited {
  color: rgb(150, 150, 150);
}

.article:hover {
  color: var(--central-ministry-colour);
}

.article:hover .article-title {
  text-decoration: underline;
}

.article-date {
  font-size: 1rem;
}

.article-title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-size: 2.5rem;
  line-height: 1.2;
  scroll-margin-top: 10rem;
}

h2.article-title::before {
  display: none
}

.article-excerpt {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--mona-sans);
  scroll-margin-top: 10rem;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  section:not(.content, footer section) {
    padding: 1rem 2rem;
  }
  .articles {
    margin-bottom: 4rem;
  }
  .article-title {
    font-size: 2rem;
  }
  .article-title::before {
    display: none;
  }
  .article-date {
    font-size: 1rem;
  }
  .article-excerpt {
    font-size: 1rem;
    line-height: 1.5;
  }
}
/* MEDIA QUERIES ABOVE */
