h2::before {
  display: none;
}

.section-divider {
  animation: none;
  transform: scaleX(1);
}

.options-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.options-inputs div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--plex-sans);
  font-weight: 700;
}

select {
  margin: 0;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

select option {
  color: black;
}

.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.pibss-card {
  flex: 1 1 calc(50% - 0.5rem);
  display: flex;
  gap: 1rem;
  min-width: 540px;
}

.pibss-picture {
  min-width: 0;
  flex-basis: 180px;
  flex-shrink: 0;
  height: auto;
}

.pibss-card-text {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.pibss-name {
  line-height: 1.2;
  font-size: 3rem;
}

.pibss-name::before {
  display: none;
}

.pibss-type, .pibss-country, .pibss-date, .pibss-location {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .entries {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .pibss-card {
    gap: 0.5rem;
    min-width: 0;
  }
  .pibss-picture {
    flex-shrink: 1;
  }
  .pibss-name {
    font-size: 1.5rem;
  }
  .pibss-type, .pibss-country, .pibss-date, .pibss-location {
    font-size: 1rem;
  }
}