/* PIBSS DATABASE STYLES BELOW */
section.options {
  padding-bottom: 0;
}

.options-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.options-inputs div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--plex-sans);
  font-weight: 700;
}

select {
  margin: 0;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

select option {
  color: black;
}

.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.pibss-card {
  flex: 1 1 calc(50% - 0.5rem);
  display: flex;
  gap: 1rem;
  min-width: 540px;
}

.pibss-picture {
  min-width: 0;
  flex-basis: 180px;
  flex-shrink: 0;
  height: auto;
}

.pibss-card-text {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.pibss-name {
  line-height: 1.2;
  font-size: 3rem;
}

.pibss-name::before {
  display: none;
}

.pibss-type, .pibss-country, .pibss-date, .pibss-location {
  font-size: 1.5rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 16px solid var(--central-ministry-colour);
  font-size: 1.5rem;
  min-width: 0;
  width: 80%;
  height: 100%;
}

.options-submit {
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* PIBSS DATABASE STYLES ABOVE */
/* PIBSS STATISTICS STYLES BELOW */
.value {
  font-size: 10rem;
  margin-bottom: -1rem;
  line-height: 1.1;
}
.text {
  font-size: 4rem;
  margin-bottom: 4rem;
}
/* PIBSS STATISTICS STYLES ABOVE */
/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .entries {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .pibss-card {
    gap: 0.5rem;
    min-width: 0;
  }
  .pibss-picture {
    flex-shrink: 1;
  }
  .pibss-name {
    font-size: 1.5rem;
  }
  .pibss-type, .pibss-country, .pibss-date, .pibss-location {
    font-size: 1rem;
  }
  .options-submit {
    justify-self: baseline;
  }
  .value {
    font-size: 4rem;
    margin-bottom: -0.5rem;
  }
  .text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
/* MEDIA QUERIES ABOVE */