section:not(.content, footer section) {
  padding: 2rem 5rem;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* MEDIA QUERIES BELOW */
@media (max-width: 600px) {
  .header,
  section:not(.content, footer section) {
    padding: 1rem 2rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.5;
  }
}
/* MEDIA QUERIES ABOVE */
