.next-ph-name {
  font-size: 5rem;
}

.next-ph-date {
  font-size: 3rem;
}

.all-ph-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 1rem;
  border: 4px solid black;
  column-rule: 4px solid black;
  row-rule: 4px solid black;
}

.all-ph-name {
  font-size: 3.5rem;
  grid-column: 1;
}

.all-ph-date {
  font-size: 2rem;
  grid-column: 2;
}